* {
    padding: 0%;
    margin: 0;
}
h1{
    background: linear-gradient( to right ,#000046 ,#1cb5e0  );
    background-clip: text;
    color: transparent;
}

.head {
    background-image: url(fundo.jp);

    padding: 2em;
    margin: 0;


}

.header {
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: rgb(0, 255, 255);
    justify-content: center;
    width: 100%;
}

.links {
    list-style: none;
    padding: 10px;
    background-color: rgb(211, 121, 3);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;

}

.link {
    background-color: blueviolet;
    margin-left: 6px;
    padding: 3px;


}

.conteiner {
    width: 100%;
    display: flex;
    align-items: ;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    background-color: rgb(117, 71, 12);
    flex-direction: row;
}
.filho{
    width: 80px;
    display: flex;

    height: 80px;
    background-color: brown;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
}